################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APITechAssignmentApp/v17/.futdcache.v1
/TechAssignmentDB/TechAssignmentDB.dbmdl
/TechAssignmentDB/TechAssignmentDB.jfm
